/.dub/
/build/
/dist/
/release/
/releases/
/build-validation/
**/__pycache__/
/aurora-cut
/aurora-cut.exe
*.o
*.obj
*.pdb
*.ilk
*.log
*.zip
*.7z
*.rar
*.mp4
*.mov
*.mkv
*.webm
*.flv
*.wav
*.mp3
*.aac

*.auroracut
/embedded/*
!/embedded/.gitkeep
*-test-application.exe
*-test-application.pdb
